@import url(../favoritos/favoritos.css);
@import url(../veiculos/veiculos.css);
@import url(../header/header.css);
@import url(../footer/footer.css);

@font-face {
    font-family: NotoSansDisplay;
    src: url('../../fonts/NotoSansDisplay-Light.ttf');
}

:root {
    --amarelo-claro: #ebdf39;
    --amarelo-escuro: #f1eb90fb;
    --azul-claro: #3c5292;
    --azul-escuro: #001a66;
    --claro: #f8f9fa;
    --cinza-claro: #2e2e2e;
    --cinza-escuro: #202020;
    --tamanho-cabecalho: 80px;
    --tamanho-rodape: 40px;
}
* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-color: var(--cinza-claro);
    height: 100vh;
    font-family: NotoSansDisplay, sans-serif;
}
main {
    color: var(--claro);
    height: calc(100% - var(--tamanho-cabecalho) - var(--tamanho-rodape));
    width: 100%;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
}
.conteudo {
    display: flex;
    height: 100%;
}
.fundoBranco {
    background-color: white;
}
.fundoAzul {
    background-color: var(--azul-escuro);
}
.letraEscura {
    color: black;
}
.bordaEscura {
    border: solid 1px black;
}
.sombraEscura {
    box-shadow: 2px 2px 6px 0 black;
}
.sombraBtn {
    box-shadow: 0.5px 0.5px 5px 0 black;
}
.compararaoClaro {
    background-color: white;
    color: black;
}