.veiculos-preco {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.1rem;
    height: auto;
    line-height: 1.6;
    min-width: 350px;
    overflow: hidden;
    padding: 1.6rem;
    position: relative;
    text-transform: uppercase;
}
.preco h4{
    overflow: hidden;
}
.veiculos-button--addLista {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    right: 2px;
    top: 2px;
}
.veiculos-button--addLista  .fas {
    color: var(--cinza);
    outline: none;
}
.veiculos-button--addLista  .fas:hover {
    color: var(--amarelo-escuro);
}
.fas.fa-star.active {
    color: var(--amarelo-claro);
}